.*.swp
.idea/
*.iml
*.iws
*.eml
*.log
out/
.DS_Store
.svn
reveal.js/log/*.log
reveal.js/tmp/**
reveal.js/node_modules/
reveal.js/.sass-cache
reveal.js/css/reveal.min.css
reveal.js/js/reveal.min.js
reveal.js/yarn.lock
